.filterForm{
    display: flex;
    flex-direction: column;
}
.input{
    margin-bottom: 10px;
    margin-left: 50px;
}

.inputName{
    margin-left: 106px;
    margin-bottom: 10px;
}

.inputLastName{
    margin-left: 69px;
    margin-bottom: 10px;
}

.inputAge{
    margin-left: 77px;
    margin-bottom: 30px;
}

